<%= form_with(model: my_blog, local: true) do |form| %>
  <% if my_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_blog.errors.count, "error") %> prohibited this my_blog from being saved:</h2>

      <ul>
      <% my_blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
