<p id="notice"><%= notice %></p>

<h1>My Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_blogs.each do |my_blog| %>
      <tr>
        <td><%= my_blog.title %></td>
        <td><%= my_blog.body %></td>
        <td><%= link_to 'Show', my_blog %></td>
        <td><%= link_to 'Edit', edit_my_blog_path(my_blog) %></td>
        <td><%= link_to 'Destroy', my_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Blog', new_my_blog_path %>
